
  <div class=" max-w-xs" style="margin:0 auto; margin-top:10px">
    <form [formGroup]="formAuth" (ngSubmit)="login()"  class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div role="alert" *ngIf="error">
        <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
            Alert Information
        </div>
        <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
            <p class="text-sm te">{{'Sorry The Email or Password Wrong'}}</p>
        </div>
    </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="Email">
          Email
        </label>
        <input formControlName="email" class="border-blue-500 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="Email" type="text" placeholder="Email">
        <p class="text-red-600 text-sm" *ngIf="formAuth.get('email')?.invalid && formAuth.get('email')?.touched">should input type email</p>
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
          Password
        </label>
        <input formControlName="password" class="shadow appearance-none border border-blue-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="***********">
      </div>
      <div class="flex items-center justify-between">
        <button [disabled]="formAuth.invalid" class="bg-blue-500  text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full" type="submit">
          Login
        </button>
      </div>
    </form>

  </div>
