<div style="margin-left: 5%; margin-right: 5%;">

    <form [formGroup]="regisForm" (ngSubmit)="doAddEmploye()" class="max-w-lg" style="margin:0 auto; margin-top:10pxa; margin-top:20px ">
        <div class="w-full mb-6 md:mb-0">

            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                Username
            </label>
            <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-blue-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" formControlName="username" id="grid-first-name" type="text" placeholder="Username">
            <p *ngIf="regisForm.get('username')?.invalid && regisForm.get('username')?.touched " class="text-red-500 text-xs italic">Please fill out this field.</p>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                    First Name
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-blue-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" formControlName="firstName" id="grid-first-name" type="text" placeholder="Jane">
                <p *ngIf="regisForm.get('firstName')?.invalid && regisForm.get('firstName')?.touched" class="text-red-500 text-xs italic">Please fill out this field.</p>
            </div>
            <div class="w-full md:w-1/2 px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                    Last Name
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" formControlName="lastName" id="grid-last-name" type="text" placeholder="Doe">
                <p *ngIf="regisForm.get('lastName')?.invalid && regisForm.get('lastName')?.touched" class="text-red-500 text-xs italic">Please fill out this field.</p>

            </div>
        </div>
        <div class="w-full mb-6 md:mb-0">
            <div role="alert" *ngIf="erroDate">
                <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
                    Alert Information
                </div>
                <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
                    <p class="text-lg">{{'Sorry The Input Date Cannot more then today'}}</p>
                </div>
            </div>
            <div role="alert" *ngIf="alert && !erroDate">
                <div class="bg-green-500 text-white font-bold rounded-t px-4 py-2">
                    Alert Information
                </div>
                <div class="border border-t-0 border-green-400 rounded-b bg-green-100 px-4 py-3 text-green-700">
                    <p class="text-lg">Success
                        {{action.type}}</p>
                </div>
            </div>
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                Email
            </label>
            <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-blue-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" formControlName="email" id="grid-first-name" type="text" placeholder="email@gmail.com">
            <p *ngIf="regisForm.get('email')?.invalid && regisForm.get('email')?.touched " class="text-red-500 text-xs italic">Please fill out this field and use format email please</p>

        </div>

        <div class="flex flex-wrap mb-6">
            <div class="flex flex-wrap -mx-3 mb-2">
                <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
                        Slary
                    </label>
                    <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" formControlName="basicSalary" id="grid-city" type="number" placeholder="1231">
                    <p *ngIf="regisForm.get('basicSalary')?.invalid && regisForm.get('basicSalary')?.touched " class="text-red-500 text-xs italic">Please fill out this field</p>

                </div>
                <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
                        Status
                    </label>
                    <div class="relative">
                        <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" formControlName="status" id="grid-state">
                            <option value="contract">Contract</option>
                            <option value="permanent">Permanent</option>
                            <option value="freelance">Freelance</option>
                        </select>
                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
                        Groups
                    </label>
                    <div class="relative">
                        <input formControlName="group" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-blue-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" list="browsers">
                        <datalist id="browsers">
                          <option class="w-full" *ngFor="let listgroup of groups">{{listgroup.name}}</option>
                        </datalist>
                    </div>
                </div>
            </div>

            <div class="w-full mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                    Description
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-blue-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" formControlName="description" id="grid-first-name" type="text" placeholder="Jane">
                <p *ngIf="regisForm.get('description')?.invalid && regisForm.get('description')?.touched " class="text-red-500 text-xs italic">Please fill out this field</p>
            </div>

            <div class="w-full mb-6 md:mb-0">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                  Birth Date
              </label>
              <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-blue-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" formControlName="birthDate" id="grid-first-name" [type]="action?.type === 'edit' || action?.type === 'add' &&  action?.type !== 'view' ? 'date' : 'text'" placeholder="Jane">
          </div>

        </div>
        <div class="mb-10">
            <button [disabled]="regisForm.invalid" *ngIf="action?.type === 'edit' || action?.type === 'add'" type="submit" [ngClass]="{'bg-blue-500 text-black font-bold py-2 px-4 rounded opacity-50 cursor-not-allowed': regisForm.invalid, 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border-blue-700 rounded': regisForm.valid}">
                Save
            </button>
        </div>
    </form>
</div>
